body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#forma {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: 50px !important;
}

table, tr, td {
    padding: 20px;
}

.end {
    background-color: orange;
}

.path {
    background-color: lightblue;
}


.start {
    background-color: green;
}

.point {
    background-color: lightgrey;
}